header{
  background-image:url("assets/img/space-stars.jpg");
  background-size: cover;
  //border-bottom:1px solid #ffffff;
  color:#fff;

  a{
    color:#fff !important;
    letter-spacing: 5px;
  }
}
