.portfolio-home{
  background-color: #000000 !important;
  background-image: url("assets/img/moon-surface.jpg") !important;
  background-size: cover;
  height:100vh;

  @include bp (tablet){
    height:100%;
  }

  @include bp (phone){
    height:100%;
  }

  .thumb-style{
    -webkit-box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
  }

  .back-style{
    background-color: rgba(0, 0, 0, 0) !important;
    a{
      text-transform: uppercase !important;
      color:#ffffff;
    }
  }
  .development-home{
    h3{
      text-transform: uppercase;
      letter-spacing: 5px;
      text-decoration: underline;
    }
    .back-style{
      background-color: rgba(0, 0, 0, 0) !important;
      a{
        text-transform: uppercase !important;
        color:#ffffff;
      }
    }

  }
}

.portfolio-gallery{
  background-color: #000000 !important;
  background-image: url("assets/img/hurricane.jpg") !important;
  background-size: cover;
  height:100%;
  .et_pb_gallery_item{
    -webkit-box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
  }
  .et_pb_gallery_items{
    overflow: visible;
  }
  .description{
    background-color: rgba(0 , 0, 0, .8);
    padding:15px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
    box-shadow: 0px 0px 20px 3px rgba(255,255,255,1);
    color:#ffffff;
    h2{
      color:#ffffff;
      text-transform: uppercase;
    }
  }
  .back-style{
    background-color: rgba(0, 0, 0, 0) !important;
    a{
      text-transform: uppercase !important;
      color:#ffffff;
    }
  }
}
